
{% extends 'base.html' %}

{% block title %} G-TrackApp {% endblock %}

{% block content %}

{% load static %}

<div class="wrapper">
    <!-- <div class="wrapper-inner"> -->
        <div class="vertical-wrapper" id="sidebar">
            <div class="backdrop"></div>
            <div class="vertical-bar">
    
                <div class="close-btn">
                    <i class="fa fa-times"></i>
                </div>
                <div class="logo">
                    G - <span>Track</span>
                </div>
    
                <div class="sidebar">
                    <a href="{% url 'index' %}">
                        <i class="fa fa-desktop"></i>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="{% url 'profile' user_id=user.id %}">
                        <i class="fa fa-user"></i>
                        <h3>Profile</h3>
                    </a>
                    <a href="{% url 'admins' %}" class="active">
                        <i class="fa fa-users"></i>
                        <h3>Admins</h3>
                    </a>
                    <a href="{% url 'payments' %}">
                        <i class="fa fa-money"></i>
                        <h3>Payments</h3>
                    </a>
                    <a href="{% url 'all_clients' %}">
                        <i class="fa fa-users"></i>
                        <h3>Clients</h3>
                    </a>
                    <a href="{% url 'debtors' %}">
                        <i class="fa fa-cc-mastercard"></i>
                        <h3>Debtors</h3>
                    </a>
                    <a href="{% url 'analytics' %}">
                        <i class="fa fa-pie-chart"></i>
                        <h3>Analytics</h3>
                    </a>
                    <!-- <a href="{% url 'index' %}">
                        <i class="fa fa-envelope-o"></i>
                        <h3>Notifications</h3>
                    </a>
                    <a href="{% url 'index' %}">
                        <i class="fa fa-cog"></i>
                        <h3>Settings</h3>
                    </a> -->
                    <a href="{% url 'create_client' %}">
                        <i class="fa fa-plus"></i>
                        <h3>Add Client</h3>
                    </a>
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out"></i>
                        <h3>Logout</h3>
                    </a>
                </div>
    
            </div>
        </div>

    <div class="main-container">
        <div class="top-bar">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>

            <div class="top-right">

                <div class="theme-toggler">
                    <i class="fa fa-sun-o active"></i>
                    <i class="fa fa-moon-o"></i>
                </div>
                <!-- This section keeps reverting to the extreme left on deployment -->
                <div class="profile">
                    <div class="info">
                        <small class="text-muted">{{user.username}}</small>
                    </div>
                    <div class="profile-photo">
                        <!-- <img src="{% static 'img/Me2.jpg' %}" alt="mgm"> -->
                        {% if user.userprofile.profile_pic %}
                        <img src="{{user.userprofile.profile_pic.url}}" width="300" height="300" />
                        {% else %}
                        <!-- A default image to be shown if the user did not upload a profile pic -->
                        <img src="{% static 'img/anonymous.jpg' %}" width="300" height="300" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End of Top right section -->
        </div>

    </div>
    <div class="panel">
        <main>
            <!-- <h1 class="panel-label">Your Profile</h1> -->
            
            <div class="panel-body">
                <div class="profile-details form-panel">
                    <div class="signup form-area create_admin">
                        <div class="msg caption">
                            <p><b> CREATE ADMIN'S ACCOUNT</b></p>
                        </div>
        
                        {% if messages %}
                        {% for message in messages %}
                        <div class="msg msg-box text-danger">
                            {{ message }}
                            <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="contact-form">
                            <form action="" class="my-form p-5 bg-white" id="form" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="uname" class="form-control" name="username" placeholder="Username">
                                    <i class="fa fa-check-circle"></i>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
        
                                <div class="form-group">
                                    <input type="text" id="email" class="form-control" name="email" placeholder="Email address">
                                    <i class="fa fa-check-circle"></i>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
        
                                <div class="form-group">
                                    <input type="text" id="lname" class="form-control" name="firstname" placeholder="First name">
                                    <i class="fa fa-check-circle"></i>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
        
                                <div class="form-group">
                                    <input type="text" id="lname" class="form-control" name="lastname" placeholder="Last name">
                                    <i class="fa fa-check-circle"></i>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
        
                                <div class="form-group">
                                    <input type="password" id="password" class="form-control" name="password"
                                        placeholder="Password">
                                    <i class="fa fa-check-circle"></i>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
        
                                <div class="form-group">
                                    <input type="password" id="password" class="form-control" name="confirm_password"
                                        placeholder="Confirm Password">
                                    <i class="fa fa-check-circle"></i>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
        
                                <div class="form-group">
                                    <label for="role"><b>Admin Role:</b></label>
                                    <select name="role" id="role" class="dropdown-select">
                                        <option value="superadmin">Super admin</option>
                                        <option value="editor">Editor</option>
                                      </select>
                                </div>
        
                                <div class="form-group">
                                    <button type="submit" class="btn">
                                        Create Account
                                    </button>
                                    <!-- <p>By clicking the button, you are agreeing to our <span>terms and services</span></p> -->
                                </div>
        
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
    
    <!---------------- END OF RECENT ORDERS SECTION ---------------->
    </main>

    <!------------------- END OF MAIN SECTION ------------------->


    <!---------------------- RIGHT SECTION ---------------------->



</div>
<!-- </div> -->
</div>
{% endblock %}