{% extends 'base.html' %}

{% block title %} G-TrackApp {% endblock %}

{% block content %}

{% load static %}

<div class="wrapper">
    <div class="vertical-wrapper" id="sidebar">
        <div class="backdrop"></div>
        <div class="vertical-bar">

            <div class="close-btn">
                <i class="fa fa-times"></i>
            </div>
            <div class="logo">
                G - <span>Track</span>
            </div>

            <div class="sidebar">
                <a href="{% url 'index' %}">
                    <i class="fa fa-desktop"></i>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'profile' user_id=user.id %}">
                    <i class="fa fa-user"></i>
                    <h3>Profile</h3>
                </a>
                <a href="{% url 'my_payments' user_id=user.id %}">
                    <i class="fa fa-money"></i>
                    <h3>Payments</h3>
                </a>
                <a href="{% url 'my_debtors' user_id=user.id %}">
                    <i class="fa fa-cc-mastercard"></i>
                    <h3>Debtors</h3>
                </a>
                <a href="{% url 'my_analytics' user_id=user.id %}">
                    <i class="fa fa-pie-chart"></i>
                    <h3>Analytics</h3>
                </a>
                <!-- <a href="{% url 'index' %}">
                    <i class="fa fa-envelope-o"></i>
                    <h3>Notifications</h3>
                </a>
                <a href="{% url 'index' %}">
                    <i class="fa fa-cog"></i>
                    <h3>Settings</h3>
                </a> -->
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <h3>Logout</h3>
                </a>
            </div>

        </div>
    </div>
    <div class="main-container">
        <div class="top-bar">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>

            <div class="top-right">

                <div class="theme-toggler">
                    <i class="fa fa-sun-o active"></i>
                    <i class="fa fa-moon-o"></i>
                </div>
                <!-- This section keeps reverting to the extreme left on deployment -->
                <div class="profile">
                    <div class="info">
                        <small class="text-muted"> {{user.username}}</small>
                    </div>
                    <div class="profile-photo">
                        <!-- <img src="{% static 'img/Me2.jpg' %}" alt="mgm"> -->
                        {% if user.userprofile.profile_pic %}
                            <img src="{{user.userprofile.profile_pic.url}}" width="300" height="300" />
                        {% else %}
                            <!-- A default image to be shown if the user did not upload a profile pic -->
                            <img src="{% static 'img/anonymous.jpg' %}" width="300" height="300" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End of Top right section -->
        </div>

        <div class="panel cover">
            <main>
                <h1 class="panel-label">My Debtors</h1>
                
                <div class="panel-body">
                    <form method="post" action="{% url 'debtors_bulk_actions' %}">
                        {% csrf_token %}
                    
                    <div class="admin-panel">
                        <!-- Humanize is to help separate figures using commas -->
                        {% load humanize %}
                        <table>
    
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Surname</th>
                                    <th>Address</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Amount Owed</th>
                                    <th>Date Captured</th>
                                    <th>Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for debtor in debtors %}
                                <tr>
                                    <td>{{ debtor.firstname }}</td>
                                    <td>{{ debtor.surname }}</td>
                                    <td>{{ debtor.address }}</td>
                                    <td>{{ debtor.phone }}</td>
                                    <td>{{ debtor.email }}</td>
                                    <td>N{{ debtor.amount_owed|floatformat:0|intcomma }}</td>
                                    <td>{{ debtor.date_captured }}</td>
                                    <td>{{ debtor.due_date }}</td>
                                    <!-- loop through the admin_profiles list and only display the profile for the current admin -->
                                    
                                </tr>
                                {% endfor %}
    
                            </tbody>
    
                        </table>
    
                        <a id="show-all" href="#">Show all</a>
                    </div>
                    </form>
                </div>
                <!---------------- END OF RECENT ORDERS SECTION ---------------->
            </main>
    
            <!------------------- END OF MAIN SECTION ------------------->
    
    
            <!---------------------- RIGHT SECTION ---------------------->
    
    
    
        </div>
    </div>
</div>
{% endblock %}