{% extends 'base.html' %}

{% block title %} G-TrackApp {% endblock %}

{% block content %}

{% load static %}

<div class="wrapper">
    <div class="vertical-wrapper" id="sidebar">
        <div class="backdrop"></div>
        <div class="vertical-bar">

            <div class="close-btn">
                <i class="fa fa-times"></i>
            </div>
            <div class="logo">
                G - <span>Track</span>
            </div>

            <div class="sidebar">
                <a href="{% url 'index' %}">
                    <i class="fa fa-desktop"></i>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'profile' user_id=user.id %}">
                    <i class="fa fa-user"></i>
                    <h3>My Profile</h3>
                </a>
                <a href="{% url 'my_payments' user_id=user.id %}">
                    <i class="fa fa-money"></i>
                    <h3>Payments</h3>
                </a>
                <a href="{% url 'my_debtors' user_id=user.id %}">
                    <i class="fa fa-cc-mastercard"></i>
                    <h3>Debtors</h3>
                </a>
                <a href="{% url 'my_analytics' user_id=user.id %}">
                    <i class="fa fa-pie-chart"></i>
                    <h3>Analytics</h3>
                </a>
                <!-- <a href="{% url 'index' %}">
                    <i class="fa fa-envelope-o"></i>
                    <h3>Notifications</h3>
                </a>
                <a href="{% url 'index' %}">
                    <i class="fa fa-cog"></i>
                    <h3>Settings</h3>
                </a> -->
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <h3>Logout</h3>
                </a>
            </div>

        </div>
    </div>
    <div class="main-container">
        <div class="top-bar">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>

            <div class="top-right">

                <div class="theme-toggler">
                    <i class="fa fa-sun-o active"></i>
                    <i class="fa fa-moon-o"></i>
                </div>
                <!-- This section keeps reverting to the extreme left on deployment -->
                <div class="profile">
                    <div class="info">
                        <small class="text-muted"> {{user.username}}</small>
                    </div>
                    <div class="profile-photo">
                        <!-- <img src="{% static 'img/Me2.jpg' %}" alt="mgm"> -->
                        {% if user.userprofile.profile_pic %}
                        <img src="{{user.userprofile.profile_pic.url}}" width="300" height="300" />
                        {% else %}
                        <!-- A default image to be shown if the user did not upload a profile pic -->
                        <img src="{% static 'img/anonymous.jpg' %}" width="300" height="300" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End of Top right section -->
        </div>

        <div class="panel cover">
            <main>
                <h1 class="panel-label">My Payments</h1>
                <div class="panel-body">
                    <form method="post" action="{% url 'debtors_bulk_actions' %}">
                        {% csrf_token %}

                        <div class="admin-panel">
                            {% load humanize %}
                            <table>

                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Amount Payed</th>
                                        <th>Medium of Payment</th>
                                        <th>Balance left</th>
                                        <th>Date Payed</th>
                                        <th>Total Amount Owed</th>
                                        <th>Payed by</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                    <tr>
                                        <td><input type="checkbox" value="{{payment.id}}" name="selected_users"></td>
                                        <td>N{{ payment.amount_payed|floatformat:0|intcomma }}</td>
                                        <td>{{ payment.medium_of_payment }}</td>
                                        <td>N{{ payment.balance_left|floatformat:0|intcomma }}</td>
                                        <td>{{ payment.date_payed }}</td>
                                        <td>N{{ payment.debtor_id.amount_owed|floatformat:0|intcomma }}</td>
                                        <td>{{ payment.debtor_id.firstname }} {{ payment.debtor.surname }}</td>
                                        <td><a class="primary-btn">{{ payment.status }}</a></td>
                                        
                                    </tr>
                                    {% endfor %}

                                </tbody>

                            </table>

                            <a id="show-all" href="#">Show all</a>
                        </div>
                    </form>
                </div>
                <!---------------- END OF RECENT ORDERS SECTION ---------------->
            </main>

            <!------------------- END OF MAIN SECTION ------------------->


            <!---------------------- RIGHT SECTION ---------------------->



        </div>
    </div>
</div>
{% endblock %}