<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/myfavicon.ico' %}">
    <!-- Author Meta -->
    <meta name="author" content="Nsikan_Patrick">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>{% block title %} {% endblock %}</title>

    <!-- CSS links ============================================= -->
    {% load static %}
    
    <!-- Chart js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/authenticate.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin2.css' %}">
</head>

<body>

<!--Main content section-->
<div id="page-wrap">
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}
</div>
<!--End of main content section -->

<!--Javascript links-->
{% load static %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<!-- <script src="{% static 'js/getbutton.js' %}"></script> -->
<!-- <script src="{% static 'js/validate.css' %}"></script> -->
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/authenticate.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>

</html>