{% extends 'base.html' %}

{% block title %} G-TrackApp {% endblock %}

{% block content %}

{% load static %}

<div class="wrapper">
    <!-- <div class="wrapper-inner"> -->
    <div class="vertical-wrapper" id="sidebar">
        <div class="backdrop"></div>
        <div class="vertical-bar">

            <div class="close-btn">
                <i class="fa fa-times"></i>
            </div>
            <div class="logo">
                G - <span>Track</span>
            </div>

            <div class="sidebar">
                <a href="{% url 'index' %}">
                    <i class="fa fa-desktop"></i>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'profile' user_id=user.id %}">
                    <i class="fa fa-user"></i>
                    <h3>Profile</h3>
                </a>
                <a href="{% url 'my_payments' user_id=user.id %}">
                    <i class="fa fa-money"></i>
                    <h3>Payments</h3>
                </a>
                <a href="{% url 'my_debtors' user_id=user.id %}">
                    <i class="fa fa-cc-mastercard"></i>
                    <h3>Debtors</h3>
                </a>
                <a href="{% url 'my_analytics' user_id=user.id %}">
                    <i class="fa fa-pie-chart"></i>
                    <h3>Analytics</h3>
                </a>
                <a href="#">
                    <i class="fa fa-envelope-o"></i>
                    <h3>Notifications</h3>
                    <!-- <span class="message-count">20</span> -->
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <h3>Settings</h3>
                </a>
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <h3>Logout</h3>
                </a>
            </div>

        </div>
    </div>
    <div class="main-container">
        <div class="top-bar">
            <div class="hamburger">
                <i class="fa fa-bars"></i>
            </div>

            <div class="top-right">

                <div class="theme-toggler">
                    <i class="fa fa-sun-o active"></i>
                    <i class="fa fa-moon-o"></i>
                </div>
                <!-- This section keeps reverting to the extreme left on deployment -->
                <div class="profile">
                    <div class="info">
                        <small class="text-muted"> {{user.username}}</small>
                    </div>
                    <div class="profile-photo">
                        <!-- <img src="{% static 'img/Me2.jpg' %}" alt="mgm"> -->
                        {% if user.userprofile.profile_pic %}
                            <img src="{{user.userprofile.profile_pic.url}}" width="300" height="300" />
                        {% else %}
                            <!-- A default image to be shown if the user did not upload a profile pic -->
                            <img src="{% static 'img/anonymous.jpg' %}" width="300" height="300" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End of Top right section -->
        </div>
        <div class="content">
            <main>
                <h1 class="panel-label">Dashboard</h1>
                <!-- <div class="date">
                        <input type="date">
                    </div> -->

                <div class="insights">
                    <!------------------- SALES SECTION ------------------->
                    <div class="sales">
                        <i class="fa fa-money"></i>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Cash</h3>
                                <h2>#130,000</h2>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>98%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Last 24 hours</small>
                    </div>
                    <!------------------- END OF SALES SECTION ------------------->

                    <!------------------- EXPENSES SECTION ------------------->
                    <div class="expenses">
                        <i class="fa fa-arrow-up"></i>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Cash Retrieved</h3>
                                <h2>#60,000</h2>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>62%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Last 24 hours</small>
                    </div>
                    <!------------------- END OF EXPENSES SECTION ------------------->

                    <!------------------- INCOME SECTION ------------------->
                    <div class="income">
                        <i class="fa fa-arrow-down"></i>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Debt</h3>
                                <h2>#70,000</h2>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>44%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Last 24 hours</small>
                    </div>
                    <!------------------- END OF INCOME SECTION ------------------->
                </div>
                <!------------------- END OF INSIGHTS SECTION ------------------->


                <!------------------- RECENT ORDERS SECTION ---------------------->
                
                <div class="recent-orders">
                    <h2>Recent transactions</h2>
                    <table>
    
                            <thead>
                                <tr>
                                    
                                    <th>Amount Payed</th>
                                    <th>Medium of Payment</th>
                                    <th>Balance left</th>
                                    <th>Date Payed</th>
                                    <th>Total Amount Owed</th>
                                    <th>Debtor's Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr>
                                    
                                    <td>{{ payment.amount_payed }}</td>
                                    <td>{{ payment.medium_of_payment }}</td>
                                    <td>{{ payment.balance_left }}</td>
                                    <td>{{ payment.date_payed }}</td>
                                    <!-- loop through the admin_profiles list and only display the profile for the current admin -->
                                    {% for debtor in debtors %}
                                    {% if debtor.id == payment.debtor_id %}
                                    <!-- display the information for each admin and their corresponding profile -->
                                    <td>{{ debtor.amount_owed }}</td>
                                    <td>{{ debtor.firstname }} {{ debtor.surname }}</td>

                                    <td><a class="status-btn">{{ payment.status }}</a></td>
                                    
                                    {% endif %}
                                    {% endfor %}
                                    
                                </tr>
                                {% endfor %}
    
                            </tbody>
    
                        </table>
                    <a href="#">Show all</a>
                </div>
                <!---------------- END OF RECENT ORDERS SECTION ---------------->
            </main>

            <!------------------- END OF MAIN SECTION ------------------->


            <!---------------------- RIGHT SECTION ---------------------->

            <div class="right">

                <div class="recent-updates">
                    <h2>Recent Updates</h2>
                    {% for payment in payments %}
                    <div class="updates">
                        <div class="update">
                            <div class="profile-photo">
                                <img src="{% static 'img/anonymous.jpg' %}" alt="mgm">
                            </div>
                            <div class="message">
                                
                                {% for debtor in debtors %}
                                    {% if debtor.id == payment.debtor_id %}
                                    <p><b>{{ debtor.firstname }}</b> Made a payment of {{ payment.amount_payed }}</p>
                                    
                                    {% endif %}
                                    {% endfor %}
                                    <small class="text-muted">10 mins ago</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!------------------- SALES ANALYTICS SECTION ------------------->
                <div class="sales-analytics">
                    <h2>System Analytics</h2>
                    <div class="item online">
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>Total Cash</h3>
                                <small class="text-muted"> Last one week</small>
                            </div>
                            <h5 class="success">+62%</h5>
                            <h3>#105,000</h3>
                        </div>
                    </div>
                    <div class="item online">
                        <div class="icon">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>Cash Retrieved</h3>
                                <small class="text-muted"> Last one week</small>
                            </div>
                            <h5 class="success">-44%</h5>
                            <h3>#65,000</h3>
                        </div>
                    </div>
                    <div class="item online">
                        <div class="icon">
                            <i class="fa fa-arrow-down"></i>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>Debts</h3>
                                <small class="text-muted"> Last one week</small>
                            </div>
                            <h5 class="danger">+25%</h5>
                            <h3>#40,000</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}